include ../panel/panel.pug

mixin slider({ min=0, max=10, step=1, from=2, to=8, hasTip='true', withRange='true', isVertical='false' })
  .slider.js-slider
    .slider__container      
      .slider__panel.js-slider__panel 
        +panel()
      .slider__root.js-slider__root(data-min=min, data-max=max, data-step=step, data-from=from, data-to=to, data-has-tip=hasTip, data-with-range=withRange, data-is-vertical=isVertical)
    .slider__text.js-slider__text
      p.slider__values.js-slider__values